@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

html,
body,
body > div {
  display: flex;
  flex-direction: column;
}

body,
body > div {
  flex: 1;
}

main {
  flex: 1;
}